= javascript_include_tag 'highcharts', :debug => true
= javascript_include_tag 'aplication', :debug => true

Компании:
%ul
  -@companies.each do |company|
    %li
      =link_to company.name, company
      (
      =company.count_publication
      )